<h1>Update Product</h1>
<form action="/products/<%=@product.id%>" method="post">
<input type="hidden" name="_method" value="patch" />
  <fieldset>
    <div>
      Name: <input type="text" name="name" value="<%=@product.name%>">
    </div>
    <div>
      Price: <input type="text" name="price" value="<%=@product.price%>">
    </div>
    <div>
      Description: <input type="text" name="description" value="<%=@product.description%>">
    </div>
    <div>
      Supplier ID: <input select="text" name="supplier_id" value="<%=@product.supplier.id%>">
    </div>
  </fieldset>
  <button type="submit">Update Product</button>
</form>